<div class="header-container">
    <div class="icon-menu">
        <img src="assets/icons/menu.svg" alt="menu">
    </div>
    <div class="logo" routerLink="/home">
        <img src="assets/images/logo-white.svg" alt="vivest">
    </div>
    <div class="notifications-link" routerLink="/avisos">
        <span>avisos</span>
        <span class="notification-icon with-notifications">
            <img src="assets/icons/aviso.svg" alt="avisos">
            <div class="notification-tip"></div>
        </span>
    </div>
</div>