.profile {
    text-align: center;
    margin: 3em 0;
    color: #fff;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

    h1 {
        font-family: "Campton Semibold";
        margin: 0;
    }
    img {
        width: 1em;
        cursor: pointer;
    }

    .profile-content {
        height: 0;
        visibility: hidden;
        transition: all .3s ease;

        &.expanded {
            height: 100vh;
            visibility: inherit;
        }
    }
}