/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Campton";
    src: url(assets/fonts/campton-extrabold.otf) format("opentype");
    font-weight: bold;
  }

  @font-face {
    font-family: "Campton";
    src: url(assets/fonts/campton-light.otf) format("opentype");
    font-weight: lighter;
  }

  @font-face {
    font-family: "Campton Semibold";
    src: url(assets/fonts/campton-semibold.otf) format("opentype");
  }

  h1 {
      font-family: 'Campton';
      font-size: 2em;
      font-weight: bold;
  }

  h2 {
    font-family: 'Campton Semibold';
    font-size: 2em;
}

html {
    font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.card {
  background: #fff;
  margin: 0 0 1em 0;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

div {
  outline: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
